* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body,
.card,
.generator,
.colour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background: linear-gradient(to bottom right, #54B435, #82CD47);
    min-height: 100vh;
}

.card {
    margin: 10%;
    padding: 5%;
    background: linear-gradient(to bottom right, #808080, #fff);
    border-radius: 25px;
}

.generator,
.colour {
    margin: 10%;
    padding: 1%;
}

.button {
    margin: 5%;
    padding: 10%;
    border-radius: 20px;
    cursor: pointer;
}

.generator>.button {
    transition: 0.2s ease-in-out;
}

.generator>.button:hover {
    background: black;
    color: white;
}

.colour>.button {
    width: 5rem;
    height: 2.5rem;
}